.content{
    margin-left:15%;
    margin-right:15%;
    overflow:auto;
}

figure{
    float:right;
}

h1 {
    font-size: 32px;
}

h1, h2, h3{
    margin-top:1.5em;
    font-family: Arial, sans-serif
}

figcaption{
    font-style:italic;
}

table{
    border-collapse:separate;
    border-width:1px;
}

.perepis{
    margin-left:5%;
}
